<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title, class: 'form-control col-3', placeholder: 'Conference Title'%><br>

    <%= f.text_field :location, class: 'form-control col-3', placeholder: 'Location' %><br>

    <%= f.text_field :start_date, class: 'form-control col-3', placeholder: 'Start Date' %><br>

    <%= f.text_field :end_date, class: 'form-control col-3', placeholder: 'End Date' %><br>

    <%= f.text_field :url, class: 'form-control col-4', placeholder: 'Url' %><br>

    <%= f.text_area :description, class: 'form-control', placeholder: 'Description'%><br>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
